@font-face {
  font-family: roboto;
  src: url(/src/font/Roboto-Regular.ttf); }

@font-face {
  font-family: roboto-light;
  src: url(/src/font/Roboto-Light.ttf); }

@font-face {
  font-family: roboto-bold;
  src: url(/src/font/Roboto-Bold.ttf); }

.btn.icon {
  width: 100%;
  height: 100%;
  border-radius: 50%; }
  .btn.icon i {
    width: 50%;
    height: 50%; }
    .btn.icon i.fa-file {
      background: url("/src/media/icons/file.svg") no-repeat center; }
    .btn.icon i.fa-xmark {
      background: url("/src/media/icons/close.svg") no-repeat center; }

section .chat {
  height: 750px;
  padding: 0; }
  section .chat header {
    display: flex;
    height: 10%;
    background-color: #006197;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    section .chat header h1 {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px; }
    section .chat header .add-users-icon {
      margin-left: auto;
      margin-right: 10px; }
    section .chat header .back-to-groups-icon {
      margin-left: 10px; }
    section .chat header .round-image {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 10px; }
  section .chat .chat-view {
    position: relative;
    height: 82.5%;
    padding-left: 10px;
    padding-right: 10px; }
    section .chat .chat-view.shrinked {
      height: 54%; }
    section .chat .chat-view .messages {
      position: absolute;
      bottom: 0;
      max-height: 100%;
      width: 97.5%;
      overflow-y: auto; }
      section .chat .chat-view .messages .message {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #EAEAEA;
        width: 93%;
        padding: 10px;
        border-radius: 5px; }
        section .chat .chat-view .messages .message p {
          font-family: roboto-light;
          color: black; }
        section .chat .chat-view .messages .message p:not(.time) {
          margin-left: 5px;
          text-align: justify; }
        section .chat .chat-view .messages .message img {
          width: 100%;
          margin-bottom: 10px; }
        section .chat .chat-view .messages .message .time {
          font-size: 12px;
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(-50%, -50%);
          background-color: transparent; }
        section .chat .chat-view .messages .message.sent {
          flex-direction: row-reverse; }
          section .chat .chat-view .messages .message.sent p:not(.time) {
            margin-left: 0;
            margin-right: 5px;
            background-color: #c8c8c8; }
          section .chat .chat-view .messages .message.sent .time {
            right: 12.5%; }
      section .chat .chat-view .messages .date {
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: #EAEAEA;
        color: black;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 4px;
        border-radius: 5px;
        font-size: 18px; }
  section .chat .chat-controller {
    height: 7.5%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; }
    section .chat .chat-controller.expanded {
      height: 35%; }
    section .chat .chat-controller .input-field, section .chat .chat-controller .btn {
      margin-top: auto;
      margin-bottom: auto; }
    section .chat .chat-controller .input-field {
      text-align: left;
      width: 65%;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 40px;
      height: 45px; }
      section .chat .chat-controller .input-field.expanded {
        height: 260px; }
    section .chat .chat-controller .file-upload {
      position: absolute;
      top: 47.5%;
      left: 70%;
      transform: translate(-50%, -50%);
      width: 35px;
      height: 35px; }
      section .chat .chat-controller .file-upload .input-media-field {
        display: none; }
    section .chat .chat-controller #image-preview {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      width: 60%; }
    section .chat .chat-controller .remove-image {
      position: absolute;
      top: 10%;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 99;
      width: 35px;
      height: 35px; }
    section .chat .chat-controller #send-btn {
      width: 20%;
      margin-left: auto; }
    section .chat .chat-controller .camera {
      position: absolute;
      height: 45px;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%); }

.sign-up .input-field, .sign-in .input-field {
  text-align: center; }

.sign-up {
  height: 500px !important; }
  .sign-up form .btn {
    margin-top: 90px; }
  .sign-up #validation-msg {
    color: red; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: roboto; }

html, body {
  height: 100%;
  background-color: #0081C9;
  color: white;
  overflow: hidden; }

a {
  color: #0081C9;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006197; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B88917; }

.round-image {
  width: 50px;
  height: 50px; }
  .round-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; }

.btn {
  font-family: roboto-bold;
  font-size: 22px;
  color: white;
  background-color: #FFC93C;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 140px;
  height: 45px;
  display: block;
  position: relative;
  border-radius: 5px; }
  .btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .btn.round {
    border-radius: 50%;
    width: 50px;
    height: 50px; }
  .btn.add {
    background-color: #1ABD00; }
    .btn.add:hover {
      background-color: #107400; }
  .btn.red {
    background-color: red; }
    .btn.red:hover {
      background-color: #aa0000; }
  .btn:hover {
    background-color: #B88917; }
  .btn:disabled {
    opacity: 0.5; }
    .btn:disabled:hover {
      background-color: #FFC93C;
      cursor: auto; }

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5BC0F8;
  text-align: center;
  width: 450px;
  height: 450px;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25); }
  .box .btn {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; }
  .box .input-field {
    display: inline-block;
    border: none;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto-light;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: #EAEAEA; }
    .box .input-field:focus {
      outline: 1px solid black; }
  .box .circle-file-input {
    position: relative;
    display: block;
    background-color: #EAEAEA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    .box .circle-file-input input {
      display: none; }
    .box .circle-file-input:hover {
      cursor: pointer;
      background-color: #cccccc; }
    .box .circle-file-input p {
      color: black;
      font-size: 26px;
      font-family: roboto-light;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .box .small-notice {
    font-size: 12px;
    text-align: left;
    margin-left: 10%; }
    .box .small-notice ul {
      margin-left: 30px; }
  .box h1 {
    font-family: roboto-light;
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 60px; }
